<template>
  <div
    class="md-layout-item md-size-33 md-small-size-100"
    style="margin-bottom: 80px"
  >
    <div class="form-title">User Form</div>

    <div style="display: flex; justify-content: center">
      <form
        novalidate
        class="md-layout"
        @submit.prevent="validateUser"
        style="display: flex; justify-content: center"
      >
        <md-card class="md-layout-item md-size-90">
          <md-card-header>
            <div class="md-title">Users</div>
          </md-card-header>

          <md-card-content>
            <div class="md-layout md-gutter">
              <div class="md-layout-item md-small-size-100">
                <md-field :class="getValidationClass('name')">
                  <label for="name">Name</label>
                  <md-input
                    name="name"
                    id="name"
                    autocomplete="given-name"
                    v-model="form.name"
                    :disabled="loading"
                  />
                  <span class="md-error" v-if="!$v.form.name.required">
                    The name is required
                  </span>
                  <span class="md-error" v-else-if="!$v.form.name.minlength">
                    Invalid name
                  </span>
                </md-field>
              </div>
            </div>

            <div class="md-layout md-gutter">
              <div class="md-layout-item md-small-size-100">
                <md-field :class="getValidationClass('age')">
                  <label for="age">Age</label>
                  <md-input
                    type="number"
                    id="age"
                    name="age"
                    autocomplete="age"
                    v-model="form.age"
                    :disabled="loading"
                  />
                  <span class="md-error" v-if="!$v.form.age.required">
                    The age is required
                  </span>
                  <span class="md-error" v-else-if="!$v.form.age.maxlength">
                    Invalid age
                  </span>
                </md-field>
              </div>
              <div class="md-layout-item md-small-size-100">
                <md-field :class="getValidationClass('gender')">
                  <label for="gender">Gender</label>
                  <md-select
                    name="gender"
                    id="gender"
                    v-model="form.gender"
                    :disabled="loading"
                  >
                    <md-option value="M">Male</md-option>
                    <md-option value="F">Female</md-option>
                  </md-select>
                  <span class="md-error">The gender is required</span>
                </md-field>
              </div>
            </div>

            <div class="md-layout md-gutter">
              <div class="md-layout-item md-small-size-100">
                <md-field :class="getValidationClass('weight')">
                  <label for="weight">Weight</label>
                  <md-input
                    name="weight"
                    id="weight"
                    autocomplete="given-weight"
                    v-model="form.weight"
                    :disabled="loading"
                  />
                  <span class="md-error" v-if="!$v.form.weight.required">
                    The weight is required
                  </span>
                  <span class="md-error" v-else-if="!$v.form.weight.minlength">
                    Invalid weight
                  </span>
                </md-field>
              </div>
            </div>

            <div class="md-layout md-gutter">
              <div class="md-layout-item md-small-size-100">
                <md-switch
                  name="active"
                  id="active"
                  class="md-primary"
                  v-model="form.active"
                  :disabled="loading"
                >
                  Active
                </md-switch>
              </div>
            </div>
          </md-card-content>

          <md-progress-bar md-mode="indeterminate" v-if="loading" />

          <md-card-actions>
            <md-button type="submit" class="md-primary" :disabled="loading"
              >{{ status }} user</md-button
            >
          </md-card-actions>
        </md-card>

        <md-snackbar :md-active.sync="userSaved">
          The user {{ lastUser }} was
          {{ status === "UPDATE" ? "udpated" : "saved" }} with success!
        </md-snackbar>

        <md-snackbar :md-active.sync="showMessage">
          No changes have been made to the user
        </md-snackbar>
      </form>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { validationMixin } from "vuelidate";
import {
  required,
  between,
  minLength,
  maxLength,
} from "vuelidate/lib/validators";

export default {
  name: "FormUser",
  computed: mapGetters({
    users: "users",
    userSaved: "userSaved",
    loading: "loading",
    user: "user",
    status: "status",
  }),
  watch: {
    user(userEdit) {
      this.form = userEdit;
    },
  },
  mixins: [validationMixin],
  data: () => ({
    form: {
      id: null,
      name: null,
      gender: null,
      weight: null,
      age: null,
      active: true,
    },
    lastUser: null,
    showMessage: false,
  }),
  validations: {
    form: {
      name: {
        required,
        minLength: minLength(3),
      },
      age: {
        required,
        between: between(0, 150),
        maxLength: maxLength(3),
      },
      gender: {
        required,
      },
      weight: {
        required,
        between: between(0, 800),
      },
    },
  },
  methods: {
    getValidationClass(fieldName) {
      const field = this.$v.form[fieldName];

      if (field) {
        return {
          "md-invalid": field.$invalid && field.$dirty,
        };
      }
    },
    clearForm() {
      this.$v.$reset();
      this.form.id = null;
      this.form.name = null;
      this.form.age = null;
      this.form.weight = null;
      this.form.gender = null;
      this.form.active = true;
    },
    saveUser() {
      this.lastUser = `${this.form.name}`;
      // Instead of this timeout, here you can call your API
      window.setTimeout(() => {
        this.clearForm();
        this.$store.dispatch("clearUserSaved");
      }, 2500);
    },
    validateChange() {
      const { name, gender, weight, age, active } = this.form;
      const original = this.users.find((item) => item.id === this.form.id);

      const dataSplit = original.data.split("|");
      const userOriginal = {
        name: dataSplit[0],
        age: parseInt(dataSplit[1]),
        weight: parseFloat(dataSplit[2]),
        gender: dataSplit[3],
        active: dataSplit[4].toLowerCase() === "true",
      };

      const isChange =
        name !== userOriginal.name ||
        gender !== userOriginal.gender ||
        parseFloat(weight) !== userOriginal.weight ||
        parseInt(age) !== userOriginal.age ||
        active !== userOriginal.active;

      return isChange;
    },
    showMessageSnackbar() {
      this.showMessage = true;
      window.setTimeout(() => {
        this.showMessage = false;
      }, 2500);
    },
    validateUser() {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        if (this.form.id)
          if (this.validateChange()) {
            this.$store.dispatch("updateUserAction", this.form);
            this.saveUser();
          } else this.showMessageSnackbar();
        else {
          this.$store.dispatch("createUserAction", this.form);
          this.saveUser();
        }
      }
    },
  },
};
</script>

<style>
.form-title {
  height: 80px;
  width: 100%;
  background: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 20px;
  border: 1px solid #fff;
  margin-bottom: 8%;
}
</style>