<template>
  <div class="md-layout-item md-size-67 md-small-size-100" style="margin-bottom: 80px">
    <div class="read-title">Users Table</div>
    <div style="display: flex; justify-content: center">
      <md-table style="width: 90%" v-model="users" md-card md-fixed-header>
        <md-table-toolbar>
          <h1 class="md-title">Users</h1>
        </md-table-toolbar>
        <md-table-row slot="md-table-row" slot-scope="{ item }">
          <md-table-cell md-label="Data">{{ item.data }}</md-table-cell>
          <md-table-cell md-label="Actions" class="actions-cell">
            <md-button class="md-fab md-plain" style="background-color: #000" @click="getUser(item)">
              <md-icon>edit</md-icon>
            </md-button>
          </md-table-cell>
        </md-table-row>
      </md-table>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "ReadUser",
  computed: mapGetters({
    users: "users",
  }),
  created() {
    this.$store.dispatch("listUserAction");
  },
  methods: {
    getUser(data) {
      this.$store.dispatch('getUser', data);
    }
  }
};
</script>

<style>
.md-table-head:nth-last-child(1) {
  text-align: center !important;
}
.actions-cell .md-table-cell-container {
  display: flex;
  justify-content: center;
}
.read-title {
  height: 80px;
  width: 100%;
  background: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 20px;
  border: 1px solid #fff;
  border-left: none;
  margin-bottom: 4%;
}
</style>