<template>
  <div class="md-layout layout-container">
    <FormUser />
    <ReadUser />
  </div>
</template>

<script>
import ReadUser from "./components/ReadUser.vue";
import FormUser from "./components/FormUser.vue";

export default {
  name: "App",
  components: {
    ReadUser,
    FormUser,
  },
};
</script>

<style>
.layout-container {
  min-height: 100vh;
  background-color: #d8d8d8;
}
</style>